<strong>Olá, {{ student }} </strong>
<p>{{ user }} respondeu a sua pergunta!</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
</p>
