<strong>Olá, {{ student }} </strong>
<p>Sua matrícula foi feita com sucesso!</p>
<p>
  <strong>Plano: </strong> {{ plano }} <br />
  <strong>Duração: </strong> {{ duracao }} meses<br />
  <strong>Preço: R$ </strong> {{ preco }} <br />
  <br />
</p>
